.container{
    position: relative;
    display: flex;
    height: 83.4vh;
    width: 100vw;
}
.header{
    position: relative;
    display: flex;
    width: 60vw;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}

.head-text{
    position: absolute;
    left: 12vw;
    top: 31.11vh;
    color: #C3FA50;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 6.25vw;
    line-height: 10.56vh;  
    white-space: pre-wrap; 
}

.description{
    padding-left: 5vw;
    position: relative;
    display: flex;
    width: 40vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
}

.decs-text{
    height: 32.41vh;
    width: 30vw;
    position: absolute;
    top: 32.77vh;
    right: 9.53vw;
    display: block;
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    overflow-y: auto;
    color: #FFFFFF;
    font-size: 1.354vw;
    line-height: 4.074vh;
    white-space: pre-wrap;
    margin-left: 3.5vw;
}

sup{
    font-size: 0.8vw;
}

.head-sup{
    font-size: 3.5vw;
}

p{
    margin-right: 3.426vw;
}

a{
    color: #C3FA50;
}


.link{
    text-decoration: underline;
}

.link:hover{
    color: #8fb83b;
    text-decoration: underline;
    cursor: pointer;
}

.link:active{
    color: #FFFFFF;
    text-decoration: underline;
}

/* width */
.decs-text::-webkit-scrollbar {
    width: 1.67vw;
}
  
/* Track */
.decs-text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #A4A4A4;
    background: #0C0C31;
}
  
/* Handle */
.decs-text::-webkit-scrollbar-thumb {
    background: #A4A4A4;
}
  
/* Handle on hover */
.decs-text::-webkit-scrollbar-thumb:hover {
    background: #858585;
}
.center{
    text-align: center;
}

.padding{
    padding-left: 1.5rem;
}
