.container{
    position: relative;
    display: flex;
    height: -webkit-fill-available;
}
.header{
    position: relative;
    display: flex;
    width: 60vw;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}

.head-text{
    position: absolute;
    color: #C3FA50;
    font-size: 7vw;
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-style: normal;
    white-space: pre-wrap;
}

.description{
    position: relative;
    display: flex;
    width: 40vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
}

.decs-text{
    height: 40vh;
    width: 35vw;
    display: flex;
    font-family: "Source Sans Pro";
    font-style: normal;
    overflow-y: scroll;
<<<<<<< HEAD
    scrollbar-width: auto;
    text-align: left;
    justify-content: center;
    align-items: center;
=======
    color: #FFFFFF;
    font-size: 3.5vw;
>>>>>>> develop
    white-space: pre-wrap;
}