.container{
    position: relative;
    display: flex;
    height: -webkit-fill-available;
}
.header{
    position: relative;
    display: flex;
    width: 60vw;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}

.head-text{
    position: absolute;
    left: 15vw;
    top: 31.11vh;
    color: #C3FA50;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 6.25vw;
    line-height: 10.56vh;  
    white-space: pre-wrap; 
}

.description{
    position: relative;
    display: flex;
    width: 40vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
}

.decs-text{
    height: 32.41vh;
    width: 30vw;
    position: absolute;
    top: 32.77vh;
    right: 9.53vw;
    display: flex;
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    overflow-y: scroll;
    color: #FFFFFF;
    font-size: 1.354vw;
    line-height: 4.074vh;
    white-space: pre-wrap;
}

.link{
    color: #C3FA50;
    
}

.link:hover{
    text-decoration: underline;
}

.link:active{
    color: #FFFFFF;
    text-decoration: underline;
}
