.home {
    background-color: #0C0C31;
    margin-top: 16.6vh;
    height: 83.4vh;
    width: 100vw;
}

.main-body {
    position: relative;
    display: flex;
    height: -webkit-fill-available;
}

.section1 {
    position: absolute;
    display: flex;
    width: 66vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.section2 {
    position: absolute;
    display: flex;
    width: 34vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    left: 66vw;
}

.NMR {
    width: 57vw;
}

.play-button {
    position: absolute;
    height: 18vh;
    padding-top: 10vh;
}

.HIW {
    font-family: 'Source Sans Pro', 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #FFFCFC;
    font-size: 8.75vw;
    line-height: 95%;
    opacity: 0;
    visibility: hidden;
}

.HIWTitle {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2.604vw;
    line-height: 44.444vh;
    color: #C3FA50;
    position: absolute;
    display: flex;
    left: 17vw;
    width: 53.3vw;
    height: 16.6vh;
    align-items: flex-end;
    padding-bottom: 2.871vh;
    opacity: 0;
    visibility: hidden;
}

.main-component {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}



.page {
    position: absolute;
    left: 75vw;
    bottom: 40px;
    opacity: 0;
    visibility: hidden;
}

.textPage {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.147vw;
    color: #C4C4C4;
}

.forward {
    width: 2.5vw;
    position: absolute;
    left: 85vw;
    bottom: 40px;
    opacity: 0;
    visibility: hidden;
}

.back {
    width: 2vw;
    position: absolute;
    left: 65vw;
    bottom: 40px;
    opacity: 0;
    visibility: hidden;
}