.home {
    background-color: #0C0C31;
    margin-top: 16.6vh;
    height: 83.4vh;
    width: 100vw;

}

.main-body {
    position: relative;
    display: flex;
    height: -webkit-fill-available;
}

.section1 {
    position: absolute;
    display: flex;
    width: 66vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.section2 {
    position: absolute;
    display: flex;
    width: 34vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    left: 66vw;
}

.NMR {
    width: 57vw;
}

.play-button {
    position: absolute;
    height: 18vh;
    padding-top: 10vh;
}

.HIW {
    font-family: 'Source Sans Pro', 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #FFFCFC;
    font-size: 8.75vw;
    line-height: 95%;
    opacity: 0;
    visibility: hidden;
}

.main-component{
    opacity: 0;
    visibility: hidden;
}

.back{
    width: 9.375vw;
    height: 11.11vh;
    position: absolute;
    left: 57.5vw;
    bottom: 1.851vh;
    opacity: 0;
    visibility: hidden;
}

.page{
    width: 12.5vw;
    height: 11.11vh;
    position: absolute;
    left: 66.875vw;
    bottom: 1.851vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.textPage{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.147vw;
    color: #C4C4C4;
}

.forward{
    width: 9.375vw;
    height: 11.11vh;
    position: absolute;
    left: 79.405vw;
    bottom: 1.296vh;
    opacity: 0;
    visibility: hidden;
}