.fal-main-title{
    position: absolute;
    left: 15vw;
    top: 31.11vh;
    color: #C3FA50;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 6.25vw;
    line-height: 10.56vh;
    white-space: pre-wrap;
}

.screen {
    background-color: #0C0C31;
    margin-top: 16.6vh;
    height: 83.4vh;
    width: 100vw;
}

.bodySection{
    position: absolute;
    display: flex;
    height: -webkit-fill-available;
}
.descriptionSection{
    right:0vw; 
    position: absolute;
    display: flex;
    width: 40vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
}

.imageSection {
    position: absolute;
    display: flex;
    width: 30vw;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.decs-textSection{
    height: 32.41vh;
    width: 30vw;
    position: relative;
    top: 10.77vh;
    right: 1vw;
    display: flex;
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    overflow-y: auto;
    color: #FFFFFF;
    font-size: 1.354vw;
    line-height: 4.074vh;
    white-space: pre-wrap;
}
/* Track */
.decs-textSection::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #A4A4A4;
    background: #0C0C31;
}
.decs-textSection::-webkit-scrollbar-thumb {
    background: #A4A4A4;
}

/* width */
.decs-textSection::-webkit-scrollbar {
    width: 1.67vw;
}
  
/* Handle on hover */
.decs-textSection::-webkit-scrollbar-thumb:hover {
    background: #858585;
}

.headingSection{
    position: absolute;
    width: 30vw;
    left: 12vw;
    top: 31.11vh;
    color: #C3FA50;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 6.25vw;
    line-height: 10.56vh;  
    white-space: pre-wrap; 
}

.headerSection{
    height: 20.41vh;
    width: 32vw;
    position: absolute;
    right: 3.6vw;
    top: 15vh;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 2.11vw;
    line-height: 4.074vh;  
    white-space: pre-wrap;
}
.backArrow {
    width: 9.375vw;
    height: 11.11vh;
    position: absolute;
    display: flex;
    left: 60vw;
    bottom: 1.851vh;
    opacity: initial;
    visibility: visible;
}
.forwardArrow {
    width: 9.375vw;
    height: 11.11vh;
    position: absolute;
    display: flex;
    right: 8vw;
    bottom: 1.296vh;
    opacity: initial;
    visibility: visible;
}
