.navBar{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #010005;
    width: 100vw;
    height: 16.6vh;
}

.sectionLogo{
    position: relative;
    display: flex;
    width: 13vw;
    /* height: 16.6vh; */
    justify-content: center;
    align-items: center;
}

.logo{
    width: 6.9vw;
    height: 7.7vh;
}


.sectionTitle{
    position: relative;
    display: flex;
    width: 52vw;
    /* height: 16.6vh; */
}

.sectionNavigation{
    display: flex;
    position: relative;
    width: 35vw;
    justify-content:space-between;
    align-items: left;
}

.sectionText{
    position: relative;
    display: flex;
    padding-right: 3.5vw;
    margin-bottom: 1vh;
    align-items: flex-end;
}

.navText{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.15vw;
    line-height: 2.22vh;
    color: #FFFFFF;
}

.navLink{
    text-decoration: none;
}

#t1, #t2, #t3, #t4, #t5, #t6{
    color: #C3FA50;
}

.selected{
    text-decoration:underline double;
}

.selected .navText{
    color: #B6ACFF;
}