.spectrum-main-title {
    position: absolute;
    left: 17vw;
    top: 31.11vh;
    color: #C3FA50;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 6.25vw;
    line-height: 10.56vh;
    white-space: pre-wrap;
}

.spectrum-main-svg{
    position: absolute;
    width: 60vw;
    max-height: 83vh;
    object-fit: fill;
    visibility: hidden;
    opacity: 0;
}

.spectrum-main-desc {
    height: 54vh;
    /* width: 24.5vw; */
    position: absolute;
    top: 15vh;
    left: 65vw;
    right: 3.5vw;
    display: block;
    white-space: pre-wrap;
    color: #FEFEFE;
}

.spectrum-main-desc0 {
    left: -0.9vw;
    position: relative;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vw;
    line-height: 2.43vw;
}

.spectrum-main-desc1 {
    position: relative;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vw;
    line-height: 2.43vw;
}

.credit-main-desc1 {
    position: relative;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vw;
    line-height: 2.43vw;
    bottom: 15px;
}

.credit-desc{
    max-height: 54vw;
    overflow-y: auto;
}

.credit-main-desc2 {
    position: relative;
    /* max-height: 14.5vw; */
    padding-right: 2vw;
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2.43vw;
}

.credit-group{
    padding-top:10px;
    padding-bottom:3vw
}

.spectrum-main-desc2 {
    position: relative;
    max-height: 14.5vw;
    padding-right: 2vw;
    top: 5vw;
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2.43vw;
    overflow-y: auto;
}

.invi {
    opacity: 0;
    visibility: hidden;
}
.center{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.center-space {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.padding{
    padding: 0 2vw;
}

.sup {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
}

a {
    color: #C3FA50;
}

.list {
    font-size: 2vw;
    list-style-position: outside;
}

ol .list {
    padding: 0 0 0 2vw;
}

.list:not(:last-child) {
    margin: 5.5vh 0;
}

.spectrum-main-link-text {
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
}

.spectrum-main-link {
    text-decoration: underline;
}

.spectrum-main-link:hover {
    color: #8fb83b;
    text-decoration: underline;
    cursor: pointer;
}

.spectrum-main-link:active {
    color: #FFFFFF;
    text-decoration: underline;
}

/* Scroll bar custom */

.spectrum-main-desc2::-webkit-scrollbar {
    width: 1.67vw;
}

/* Track */
.spectrum-main-desc2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #A4A4A4;
    background: #0C0C31;
}

/* Handle */
.spectrum-main-desc2::-webkit-scrollbar-thumb {
    background: #A4A4A4;
}

/* Handle on hover */
.spectrum-main-desc2::-webkit-scrollbar-thumb:hover {
    background: #858585;
}

.credit-desc::-webkit-scrollbar {
    width: 1.67vw;
}

/* Track */
.credit-desc::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #A4A4A4;
    background: #0C0C31;
}

/* Handle */
.credit-desc::-webkit-scrollbar-thumb {
    background: #A4A4A4;
}

/* Handle on hover */
.credit-desc::-webkit-scrollbar-thumb:hover {
    background: #858585;
}