.navTitle {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 2.604vw;
  line-height: 44.444vh;
  color: #C3FA50;
  position: absolute;
  display: flex;
  left: 17vw;
  width: 53.3vw;
  height: 16.6vh;
  align-items: flex-end;
  padding-bottom: 2.871vh;
}

p {
  margin:0;
  margin-right: 3.426vw;
}

a {
  color: #C3FA50;
}


.link {
  text-decoration: underline;
}

.link:hover {
  color: #8fb83b;
  text-decoration: underline;
  cursor: pointer;
}

.link:active {
  color: #FFFFFF;
  text-decoration: underline;
}