.spectrum{
    background-color: #0C0C31;
    margin-top: 16.6vh;
    height: 83.4vh;
    width: 100vw;
}

.spectrumTitle {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2.604vw;
    line-height: 44.444vh;
    color: #C3FA50;
    position: absolute;
    display: flex;
    left: 15vw;
    width: 53.3vw;
    height: 16.6vh;
    align-items: flex-end;
    padding-bottom: 2.871vh;
    /* opacity: 0; 
    visibility: hidden; */
}

.spectrum-main{
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
}

.spectrum-back {
    width: 9.375vw;
    height: 11.11vh;
    position: absolute;
    left: 60vw;
    bottom: 1.851vh;
    /* opacity: 0;
    visibility: hidden; */
}

.spectrum-forward {
    width: 9.375vw;
    height: 11.11vh;
    position: absolute;
    left: 79.405vw;
    bottom: 1.296vh;
    /* opacity: 0;
    visibility: hidden; */
}